{% extends "base.html" %}

{% block content %}
   
   <h1>Courses</h1>

    <ul>
        {% for course in courses %}
            <li>
                <a href="{% url 'course_detail' course.id %}">
                    {{ course.title }}
                </a>
            </li>
            {% if user_level_number < course.required_level %}
                🔒 Requires Level {{ course.required_level }}
            {% endif %}
        {% empty %}
            <li>No courses available.</li>
        {% endfor %}
    </ul>

{% endblock %}